@media screen and (max-width: 400px) {
	#canvas {
	top: 120px;
	}
	.content p.quoted {
	font-size:1em;
	padding-right:0px;
	}
	.content {
	margin-top: 64px;
	}
	
	h1 {
	font-size: 36px;
	margin-bottom: 36px;
	margin-top: 0px;
	font-weight:100;
	}
	.content, .title {
	width: 70%;
	}
	.content p {
	font-size: 1em;
	line-height: 140%;
	}
	.nav {
	padding-left: 2em;
	letter-spacing: .75em;
	}
	
	.next,
	.next-b {
	
	min-height:40px;
	min-width:120px;
	font-size:1.25em !important;
	font-weight:400;
	padding-top:8px;
	margin-top:2em;
	}
	.pane,
	.pane-b {
	margin: 0px 0 12em 3em;
	display:none;
	}
	
	.quote {
	-webkit-transform: scale(0.7);
	}
	
	
}