/* app css stylesheet */

* {
  -webkit-perspective:3000;
  transform-style: preserve-3d;
	}

*[contentEditable] {
  padding: 1px;
  margin: 1px;
}

.edit *[contentEditable] {
  background: #F1F8E9;
  border: 1px solid #ccc;
}

*[contentEditable="true"] {
  border: 1px solid rgba(0, 0, 0, 0);
}

.edit *[contentEditable]:focus {
  background: white;
  border: 1px solid #ccc;
}

.edit *[contentEditable]:blur {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0);
}

a {
	color: #4527A0;
	text-decoration: none;
	}
	
a:hover {
  text-decoration: none;
  border-color: white;
}

.content .author {
	font-style: italic;
	}

body,
html,
.container-fluid,
.view-container,
.view-frame {
  height: 100%;
}

body {
  overflow: overflow-y;
  font: 300 16px "Lato" sans-serif;
  color: #333;
  text-align: center;
  text-rendering: optimizeLegibility;
}

body, html, div {
	padding:0;
	margin:0;
}

	.container {
		margin:1em 1em 0 0;
		float: left;
		margin: 0;
		padding: 1em 1em 0 0;
	}

#billboard {
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -120px;
	width:240px;
	height:24px;
	border: 1px solid #ccc;
	z-index:500;
	font-size: 14px;
	-webkit-transform-origin: center top;
	-webkit-transform: rotateX(36deg);
	-webkit-transition: all 1s ease-out;
	opacity: 0;
	
	}
	
#billboard.game-on {
	-webkit-transform: rotateX(0deg);
	opacity: 1;
	}
	
.container-holder {
	float:left;
	width:100%;
	clear: both;
}

fieldset {
	border:1px solid #ccc;
	border-radius: 6px;
	background:#f9f9f9;
}



button .glyphicon {
	color:#9CCC65;
	color: #F06292;
	color: #F48FB1;
	font-size: 14px;
}

tr:hover button .glyphicon {
	color:#689F38;
	color: #D81B60;
}

button.btn-default, .glyphicon {
	-webkit-transition: all .75s ease;
	}
button.btn-default {
	color: rgba(0,0,0,0);
	border:1px solid rgba(0,0,0,0);
	background: transparent;
	display:block;
	width: 86px;
	text-align: left;
	padding-left:10px;
	margin:.0 .5em .25em .5em;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
	}

#drive {
	background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: white;
	text-transform: none;
	}

#drive .glyphicon {
    color: white;
	padding-right: 5px;
}


button.btn-icon-only {
	border:1px solid rgba(0,0,0,0);
	background: transparent;
	display:inline-block;
	width: 32px;
	text-align: left;
	padding:5px;
	padding-left:10px;
	margin:.25em;
	font-weight: 300;
	font-size: 12px;
}

button.btn-icon-only:focus {
	outline: none;
	}

.btn-icon-only .glyphicon {
	line-height: 140%;
}


	
button.btn-icon-only:hover {
	border:1px solid rgb(204,204,204);
	background: white;
}
	
tr:hover button.btn-default {
	color: black;
	border:1px solid rgb(204,204,204);
	background: white;
}



button.pinhole {
	height: 28px;
	width: 82px;
	border:none;
	margin:.5em;
}

button.pinhole:focus {
	outline:none;
}

#canvas {
  position: absolute;
  top: 100px;
  z-index: -1;
  width: 100%;
  height: 400%;
  background: #f6f6f6;
  background-image:url(../img/noise.png);
  opacity: 1;
}

.container-fluid {
  padding:0;
}
	
.content {
  width: 900px;
  max-width: 900px;
  margin: auto;
  padding-top: 12px;
  text-align: left;
}

.content p {
  font-size: 1.125em;
  line-height: 145%;
  max-width: 650px;
}

.column-count {
	width: 32px;
	text-align: right;
	font-weight: 500;
	opacity: 0.5;
}

.copy-primary {
	font-weight: 300;
	opacity: 1;
	line-height:140%;
	padding-bottom:.25em;
	padding-top:.75em;
	color:#333;
	color:black;
	display:block;
}

.copy-primary:first-child {
	padding-top: 0;
}

.copy-secondary {
	color:#999 !important;
}

.content .copy-subordinate {
	padding-left: 1em;
	font-size:75%;
}

#errors {
	position: absolute;
	left: 0%;
	top: 32px;
	margin: 0;
	width:100%;
	height:70px;
	border: none;
	background: rgba(255,255,255,0.5);
	z-index:500;
	font-size: 14px;
	display: none;
	}

.footer {
	white-space:nowrap;
	position: fixed;
	bottom:80px;
}

h1 {
  margin-top: 32px;
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 100;
  white-space: nowrap;
  cursor: pointer;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;
  min-width: 900px;
  height: 32px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.imagePreview {
    background-image: url("../img/personas/Avatar-blank.jpg");
    background-size: cover;
    height: 190px;
    width: 190px;
    margin: 0px 5px;
}


input.inline {
	width: auto;
	margin-top:-5px;
	border-radius: 0px;
	display:inline-block;
}

input, textarea {
	border:1px solid #eee;
	padding:5px;
	background:white;
	margin:0 .35em;
	margin-top:-5px;
	}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	font-style: italic;
}

input.column-name {
	width:115px;
}

.content .label {
	text-transform: uppercase;
	font-size:12px;
	font-weight:300;
	padding:0;
}


li {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

ul {
	margin-left: 0;
	padding-left: 0;
}

#next-step {
	text-align: right;
	margin-top: 2em;
	display: inline-block;
	float: right;
	color: #43A047;
	cursor: pointer;
}



#next-step .label {
	text-transform: uppercase;
	font-size:12px;
	font-weight:300;
	color: #999;
	}

#next-step .label:after {
	content: '\2192\00a0\00a0';
}

#next-step:hover {
	color: #1B5E20;
}

.next,
.next-b {
  display: inline-block;
  min-width: 90px;
  padding: 5px;
  margin-top: 3em;
  color: #fff;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  -webkit-transition: all .5s;
  font-size:1em !important;
}

.next:hover,
.next-b:hover {
	color: white;
}

a.next {
  color: rgba(255, 255, 255, 0.8);
  border: none;
}

p {
	color: #424242;
	font-weight: 300;
	line-height: 145%;
}

.panel {
	opacity:1;
	position:absolute;
	background:transparent;
	box-shadow: none;
}
	
.panel.ng-hide-add.ng-hide-add-active,
.panel.ng-hide-remove.ng-hide-remove-active {
	-webkit-transition: all linear .5s;
	transition: all linear .5s;
}

.panel.ng-hide {
	opacity: 0;
}

.shift {
  margin-left: 0px;
	}
	
.subheader {
	margin-bottom:24px;
}

.subheader .label {
	color: #9575CD;
	}
.tabs {
	margin-bottom: 2em;
	margin-top: 2em;
	}
.tabs li {
	display: inline-block;
	width: 160px;
	margin-right:.25em;
	}
.tabs li a {
	color: #333;
	text-decoration: none;
	display:block;
	padding-bottom:4px;
	padding-left:2px;
	border-bottom:1px solid #ddd;
	text-transform: uppercase;
	font-size: .75em;
}
.tabs li a:focus {
	outline: none;
	}

table.data td, table.data th {
	padding-right:1em;
	padding-bottom:.25em;
}
table.data td:first-child, table.data th:first-child {
	padding-right:.5em;

}
td {
	vertical-align: top;
}

.title {
  top: 0px;
  width: 900px;
  height: 32px;
  max-width: 900px;
  margin: 0px auto 0 auto;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  padding: 5px 0;
  background: transparent url(../img/svg/logo-negative.svg) 0px 3px no-repeat;
  background-size: 100px;
  opacity: 0.5;
  cursor: pointer;
}

.title::after {
	content: "Corporate Design System";
}
ul.columns ul li {
	margin-top: .5em;
	margin-left: 0em;
	}
ul.columns li {
	font-size: 150%;
	font-weight:300;
	color:rbga(0,0,0,0.5);
	}
	
ul.columns li li {
	padding-left: 0px;
	margin-left: -5px;
}
ul.columns ul ul li, ul.columns ul li {
	font-size: 16px;
	font-weight:300;
	display: block;
	width:100%;
}

ul.columns ul li a {
	padding: 3px 5px;
	border: 1px solid rgba(0,0,0,0);
	white-space: nowrap;
	display: block;
}

ul.columns ul li a:hover {
	/* color: white; */
}

.view-frame {
	transition:all .8s;
	-webkit-transition:all .8s;
	}

.upcoming a {
	border: 1px solid rgba(0,0,0,0) !important;
	}
.past a {
	border: 1px solid rgba(0,0,0,0) !important;
	}
.past a:after {
	content: '\00a0\00a0\2714';
	color: #C5E1A5;
}
.current a {
	border: 1px dotted #7CB342 !important;
}
