<style>
	.view-frame {
		background:{{page.primary}};
		}
	.back a, h1, .title {
		color: {{page.secondary}} !important;
		}
	.next {
		background:{{page.accent}};
		}
	.next:hover {
		background:{{page.hover}};
		}
	.view-frame.ng-leave {
		background:{{page.primary}};
	}
	.view-frame.ng-leave-active {
		background:{{page.primary}};
	}
	/* page specific */
	
	.x3 {
		width:25%;
	}
	.content .quoted {
		margin-top:26em;
		margin-left: 3em;
		font-size: .875em;
		clear: both;
	}
	.content .attribution {
		margin-left: 1.5em;
		font-size: .875em;
		}
	.quote {
		width:24px;
		opacity:0.5;
		
		}
		
	ul.columns ul li a:hover {
		border:1px solid {{page.accent}};
		background:{{page.accent}};
		background: transparent;
	}
ul.columns ul li {
	margin-top: .75em;
	}
	.status {
		float:left;
		white-space: nowrap;
		margin-right: 2em;
		display: inline-block;
		width: 50px;
		margin-top:-.5em;
				display:block;

		}
	.define {
		color: #2196F3;
		}
	.architect {
		color: #4caf50;
		}
	.design {
		color: #ff9800;
		}
	.implement {
		color: #9C27B0;
		}
	.now {
		opacity: 1;
		font-size:10px !important;
		text-transform: uppercase;
		padding-left: 5px;
	}
	.done {
		opacity: 0.25;
		font-size: 50%;
		display: none !important;
	}
	.queued {
		opacity: 0.5;
		color: #ccc !important;
		display: none !important;
		}
	.dot {
		width: 17px;
		height: 10px;
		font-size:150%;
		display: inline-block;
		margin-top: 0px;
		vertical-align: middle;
		line-height: 14px !important;
		text-align: center !important;
		border:0px solid black;
		}
</style>
<div class="container-fluid" id="cover">

	<div class="header">
	  <div class="title"></div>
	</div>
	
	<div class="content" style="height:100%;">
		<div class="subheader">
			<h1>
				<span style="color:#D1C4E9;">{{page.title}}</span>
			</h1>
			<p class="label">
				
			</p>
		</div>
		<div class="container-holder" style="margin-top:2em;">
			<div class="container x3">
				<ul class="columns">
					<li>Pune
						<ul ng-repeat="project in page.pune">
							<li><a href="{{project.url}}">{{project.name}}</a>
							<span class="status">
								<span ng-repeat="phase in project.status" class="dot {{phase.state}} {{phase.name}}">{{phase.name}}</span>
							</span>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="container x3">
				<ul class="columns">
					<li>Santa Clara
						<ul ng-repeat="project in page.santaclara">
							<li><a href="{{project.url}}">{{project.name}}</a>
							<span class="status">
								<span ng-repeat="phase in project.status" class="dot  {{phase.state}} {{phase.name}}">{{phase.name}}</span>
							</span>
					</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		
	<p class="quoted"><img src="./img/svg/quote-open.svg" class="quote" style="margin-left:-50px;margin-top:0px;">{{page.quote}}<img src="./img/svg/quote-close.svg" class="quote" style="margin-bottom:0px;"></p>
	<p class="attribution">{{page.attribution}}</p>
	</div>
	<div id="canvas"></div>
</div>
