<style>
	.view-frame {
		background:{{page.primary}};
		}
	.back a, h1, .title {
		color: {{page.secondary}} !important;
		}
	.next {
		background:{{page.accent}};
		}
	.next:hover {
		background:{{page.hover}};
		}
	.view-frame.ng-leave {
		background:{{page.primary}};
	}
	.view-frame.ng-leave-active {
		background:{{page.primary}};
	}
</style>


<div class="container-fluid" id="design">

	<div class="header">
	  <div class="title"></div>
	  <div class="back"><a back>Back</a></div>
	</div>
	
	<div class="content">
	<h1 class="shift">{{page.title}}</h1>
	<div class="pane">
	<img src="./img/png/design.png" class="image-1-of-2">
	<img src="./img/png/design-b.png" class="image-2-of-2">
	</div>
	<p>{{page.content}}</p>
	<p class="footer"><a href="#/implement" class="next">Next</a>&nbsp;<span class="nav">&bull;&bull;&bull;<span style="color:{{page.primary}};">&bull;</span>&bull;</p>
	</div>
	<div id="canvas"></div>
</div>