<style>
	/* dynamic values */
	
	.view-frame {
		background:{{page.primary}};
	}
	
	.back a, h1, .title {
		color: {{page.secondary}} !important;
	}
	
	.next {
		background:{{page.accent}};
	}
	
	.next:hover {
		background:{{page.hover}};
	}
	
	.view-frame.ng-leave {
		background:{{page.primary}};
	}
	
	.view-frame.ng-leave-active {
		background:{{page.primary}};
	}
	
	button.pinhole {
		background-color:{{page.accent}};
	}
	
	button.btn-default {
		display:inline-block;
		}

	
	.tab-selected {
		border-bottom:2px solid #A5D6A7 !important;
	}

	/* other page specific */
	
	.column-story {
		width: 725px;
	}
	
	.form-add {
		margin-top:4em;
	}

</style> 
<script>
	function changeEditable(which){
		var locked = document.getElementById(which).contentEditable;
		if (locked){
			// document.getElementById(which).contentEditable = "false";
		} else {
			// document.getElementById(which).contentEditable = "true";
		}
		// alert('hit');
	}

	function makeEditable(which){
		$("#objective").addClass('edit');
	}

</script>

<div class="container-fluid" id="define">
	<div class="header">
		<div class="title" click-link="/cover">
		</div>
	</div>
	<div class="content" style="height:100%;">
		<div class="subheader">
			<h1 click-link="/project">
				<span style="color:#D1C4E9;">{{page.title}}</span> Objectives
			</h1>
			<p class="label">
				Project
			</p>
		</div>
		
		<ul class="tabs">
			<li><a href ng-click="tab=1" ng-class="{'tab-selected': tab==1}" accesskey="1">Objectives</a></li>
			<li><a href ng-click="tab=2" ng-class="{'tab-selected': tab==2}" accesskey="2">Guidelines</a></li>
		</ul>
		
		<div ng-show="tab==1" class="panel">
		
			<table class="stories data">
				<tr ng-repeat="objective in page.objectives"  ng-click="select(objective)" ng-class="itemClass(objective)">
					<td class="column-count">{{$index+1}}.</td>
					<td><div id="objective1" contentEditable="true">{{objective.goal}}</div></td>
					<td>
						<button type="button" class="btn btn-default btn-sm">
          					<span class="glyphicon glyphicon-edit"></span> Edit
        				</button>
						<button type="button" class="btn btn-default btn-sm">
          					<span class="glyphicon glyphicon-trash"></span> Delete
        				</button>
					</td>
				</tr>
			</table>
			
			<fieldset class="form-add" style="position:relative;">
				<legend style="display:inline;position:absolute;top:-20px;border:none;text-transform:uppercase;font-size:12px;">Add objective</legend>

				<table class="data" style="margin-top:.75em;">
					<tr>
						<td class="column-story">
							<input id="objective" name="objective" placeholder="Objective" class="" style="width:100%;">
						</td>
						<td> <button ng-click="addMore()" accesskey="a" class="pinhole label" style="margin-top:-5px;">Add</button> </td>
					</tr>
				</table>
			</fieldset>
			<div id="next-step" click-link="{{page.next.page}}"><span class="label">Next&nbsp;</span>{{page.next.label}}</div>
		</div>
		
		<div ng-show="tab==2" class="panel">
			<table class="guidelines data" style="max-width:650px;">
				<tr ng-repeat="guideline in page.guidelines">
					<td class="copy-primary guideline">{{$index+1}}.</td>
					<td class="copy-secondary"><span class="copy-primary">{{guideline.rule}}</span>{{guideline.copy}}</td>
				</tr>
			</table>

		</div>
		
		<p class="footer" style="display:none;"><a back class="next">Back</a></p>
	</div>
	<div id="canvas"></div>
</div>
