<style>
	.view-frame {
		background:{{page.primary}};
		}
	.back a, h1, .title {
		color: {{page.secondary}} !important;
		}
	.next {
		background:{{page.accent}};
		}
	.next:hover {
		background:{{page.hover}};
		}
	.view-frame.ng-leave {
		background:{{page.primary}};
	}
	.view-frame.ng-leave-active {
		background:{{page.primary}};
	}
</style>

<div class="container-fluid" id="define">

	<div class="header">
	  <div class="title"></div>
	  <div class="back"><a back>Back</a></div>
	</div>
	
	<div class="content">
		<div class="subheader">
			<h1 class="shift">{{page.title}}</h1>
			<p class="label">Project</p>
		</div>
	<p><a href="#/persona">Persona</a></p>
	<p><a href="#/stories">User stories</a></p>
	<p class="footer"><a href="#/architect" class="next">Next</a>&nbsp;<span class="nav">&bull;<span style="color:{{page.primary}};">&bull;</span>&bull;&bull;&bull;</p>
	</div>
	<div id="canvas"></div>
</div>